* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

input:focus,
textarea:focus,
button:focus {
  outline: none;
  box-shadow: none;
}

.btn-primary:focus {
  box-shadow: none !important;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

.img-responsive {
  width: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*### Colors ###*/
/*--### Font Family ###--*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Roboto", sans-serif;
}

.container-fluid {
  padding: 0 5%;
}

section {
  padding: 5% 0;
}

.button {
  width: fit-content;
  padding: 10px 40px;
  box-shadow: 0 7px 30px rgba(144, 105, 173, 0.3607843137);
  background-image: linear-gradient(294deg, #d15ffb, #5f37f6);
  background-image: linear-gradient(130deg, #262261, #623c97, #262261, #623c97);
  background-size: 300% 100%;
  border-radius: 58px;
  transition: all 0.4s ease-in-out;
}
.button:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}
.button a {
  color: #fff;
  font-size: 20px;
}

h1 {
  font-size: 80px;
  line-height: 1;
  margin-bottom: 30px;
  color: #fff;
}
@media (max-width: 767px) {
  h1 {
    font-size: 55px;
    line-height: 1.2;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 45px;
  }
}

h2 {
  font-size: 50px;
  color: #fff;
  margin-top: 22px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }
}

p {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 25px;
  color: #9ba0b8;
}

.image {
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
}
.image img {
  border-radius: 20px;
}

.headline {
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 100;
}

.heading {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .heading {
    width: 100%;
  }
}
.heading h2 {
  margin: 5px 0;
}

body {
  background-color: #070e25;
}

@media (max-width: 767px) {
  .aos-init.aos-animate {
    transition-delay: 0.3s !important;
  }
}

header {
  background-color: rgba(0, 0, 0, 0.28) !important;
  padding: 0px 0;
  backdrop-filter: blur(13px) !important;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1019607843);
  width: 100%;
  z-index: 5;
}
@media (max-width: 991px) {
  header {
    padding: 12px 0;
  }
}
header .navbar .logo img {
  width: 300px;
}
@media (max-width: 575px) {
  header .navbar .logo img {
    width: 220px;
  }
}
@media (max-width: 400px) {
  header .navbar .logo img {
    width: 165px;
  }
}
header .navbar .navbar-collapse {
  justify-content: end;
}
header .navbar .navbar-collapse ul li a {
  font-size: 19px;
  margin: 0 10px;
  padding: 40px 22px;
  border-bottom: 1px solid transparent;
}
@media (max-width: 991px) {
  header .navbar .navbar-collapse ul li a {
    padding: 8px 0;
  }
}
header .navbar .navbar-collapse ul li a:hover {
  color: #fff !important;
  border-color: #fff;
}

header .btn:hover {
  margin-left: 0px !important;
}
header .btn .menu-btn:hover {
  color: #fff;
  margin-left: 0 !important;
}

.banner-section {
  background: linear-gradient(0deg, rgb(7, 14, 36), rgba(7, 14, 36, 0.82)), url(../img/Banner-Img.jpg);
  padding-top: 200px;
  padding-bottom: 30px;
  background-size: cover;
}
.banner-section .container-fluid .value-row {
  margin-top: 50px;
}
.banner-section .container-fluid .value-row .content {
  width: 100% !important;
}
.banner-section .container-fluid .row .content {
  text-align: center;
  margin: 0 auto;
  color: #fff;
  width: 900px;
}
.banner-section .container-fluid .row .content .image-column img {
  width: auto;
  margin-bottom: 20px;
}
.banner-section .container-fluid .row .content .disclaimer p {
  margin-top: 20px;
  font-size: 15px;
}
.banner-section .container-fluid .row .content .button {
  margin: 0 auto;
}
.banner-section .container-fluid .row .content .input-group {
  width: 800px;
  margin: 0 auto;
}
@media (max-width: 649px) {
  .banner-section .container-fluid .row .content .input-group {
    flex-direction: column;
  }
  .banner-section .container-fluid .row .content .input-group input {
    width: 100%;
    border-radius: 50px !important;
    margin-bottom: 15px;
  }
  .banner-section .container-fluid .row .content .input-group .button {
    border-radius: 50px !important;
    margin: 0 auto !important;
  }
}
@media (max-width: 861px) {
  .banner-section .container-fluid .row .content .input-group {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .banner-section .container-fluid .row .content .input-group {
    width: 100%;
  }
}
.banner-section .container-fluid .row .content .input-group input {
  background: transparent;
  border-radius: 52px;
  border-radius: 52px 0px 0px 52px;
  padding: 10px 0px 10px 27px;
  border-color: #9ba0b8;
  color: #9ba0b8;
}
.banner-section .container-fluid .row .content .input-group input:focus {
  border-color: #fff;
}
@media (max-width: 433px) {
  .banner-section .container-fluid .row .content .input-group .button {
    padding: 10px 14px !important;
  }
}
.banner-section .container-fluid .row .content .input-group button {
  background: transparent;
  border: none;
  font-size: 20px;
  color: #fff;
}

main {
  margin-top: 10px !important;
}
main #carousel {
  position: relative;
  height: 450px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
main #carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
  padding: 20px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
}
main #carousel div img {
  width: 400px;
  transition: width 1s;
}
main #carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
main #carousel div.hideLeft img {
  width: 200px;
}
main #carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
main #carousel div.hideRight img {
  width: 200px;
}
main #carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
  opacity: 0.6;
}
main #carousel div.prev img {
  width: 300px;
}
main #carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}
main #carousel div.prevLeftSecond img {
  width: 200px;
}
main #carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
main #carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
  opacity: 0.6;
}
main #carousel div.next img {
  width: 300px;
}
main #carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.3;
}
main #carousel div.nextRightSecond img {
  width: 200px;
}
main .buttons {
  width: fit-content;
  margin: 0 auto;
  margin-top: 85px;
}
main .buttons #prev,
main .buttons #next {
  background: transparent;
  border: none;
  color: #9ba0b8;
  font-size: 28px;
  transition: all 0.3s;
}
main .buttons #prev:hover,
main .buttons #next:hover {
  color: #fff;
}
main img {
  border-radius: 20px;
}

.about-section .container-fluid .row .col-md-6 .content {
  margin-top: 30px;
}
.about-section .container-fluid .row .col-md-6 .image {
  width: 75%;
  margin: 0 auto;
}

.features-section {
  background: linear-gradient(0deg, rgb(7, 14, 36), rgba(7, 14, 36, 0.82)), url(../img/Features-bg.jpg);
  background-size: cover;
}
.features-section .container-fluid .bottom-row {
  justify-content: center;
}
.features-section .container-fluid .row {
  margin-bottom: 50px;
}
@media (max-width: 991px) {
  .features-section .container-fluid .row .col-md-3 {
    width: 50%;
  }
}
@media (max-width: 575px) {
  .features-section .container-fluid .row .col-md-3 {
    width: 100%;
  }
}
.features-section .container-fluid .row .active {
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.368627451) !important;
}
.features-section .container-fluid .row .active:hover {
  border: 1px solid transparent !important;
  background: transparent !important;
}
.features-section .container-fluid .row .content {
  padding: 42px;
  border-radius: 20px;
  border: 1px solid transparent;
  transition: all 0.3s;
}
.features-section .container-fluid .row .content:hover {
  background: rgba(255, 255, 255, 0.0509803922);
  border: 1px solid rgba(255, 255, 255, 0.368627451);
}
.features-section .container-fluid .row .content .image {
  width: 100px;
  background: linear-gradient(45deg, black, transparent);
  background-image: linear-gradient(130deg, #262261, #623c97);
  border: none;
  margin-bottom: 20px;
}
.features-section .container-fluid .row .content .text {
  color: #fff;
}

.roadmap-section .container-fluid .container .timeline {
  position: relative;
  padding: 5rem;
  margin: 0 auto 1rem auto;
  overflow: hidden;
}
.roadmap-section .container-fluid .container .timeline:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  border-right: 2px dashed #623c97;
  opacity: 0.9;
  box-shadow: 0px 0px 40px 1px #262261;
  height: 100%;
  display: block;
}
.roadmap-section .container-fluid .container .timeline .timeline-row {
  padding-left: 50%;
  position: relative;
  margin-bottom: 30px;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-time {
  position: absolute;
  right: 50%;
  top: 15px;
  text-align: right;
  margin-right: 20px;
  color: #bcd0f7;
  font-size: 1.5rem;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-time small {
  display: block;
  font-size: 0.8rem;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content {
  position: relative;
  padding: 20px 30px;
  background: #1a233a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content:after {
  content: "";
  position: absolute;
  top: 20px;
  height: 16px;
  width: 16px;
  background: #1a233a;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content:before {
  content: "";
  position: absolute;
  top: 20px;
  right: -49px;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  z-index: 10;
  background-image: linear-gradient(130deg, #262261, #623c97);
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content h4 {
  margin: 0 0 20px 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 150%;
  color: #fff;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content p {
  margin-bottom: 30px;
  line-height: 150%;
}
.roadmap-section .container-fluid .container .timeline .timeline-row .timeline-content i {
  font-size: 1.2rem;
  line-height: 100%;
  padding: 15px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  background: #272e48;
  margin-bottom: 10px;
  display: inline-block;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content {
  margin-left: 40px;
  text-align: left;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content:after {
  left: -8px;
  right: initial;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(-135deg);
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content:before {
  left: -52px;
  right: initial;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) {
  padding-left: 0;
  padding-right: 50%;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-time {
  right: auto;
  left: 50%;
  text-align: left;
  margin-right: 0;
  margin-left: 20px;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-content {
  margin-right: 40px;
}
.roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-content:after {
  right: -8px;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
}
@media (max-width: 992px) {
  .roadmap-section .container-fluid .container .timeline {
    padding: 15px;
  }
  .roadmap-section .container-fluid .container .timeline:after {
    border: 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) {
    padding: 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-content {
    margin: 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-content:before, .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(odd) .timeline-content:after {
    display: none;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) {
    padding: 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-time {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 0 10px 0;
    text-align: left;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content {
    margin: 0;
  }
  .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content:before, .roadmap-section .container-fluid .container .timeline .timeline-row:nth-child(even) .timeline-content:after {
    display: none;
  }
}

.team-section {
  background: linear-gradient(0deg, rgba(7, 14, 36, 0.97), rgba(7, 14, 36, 0.93)), url(../img/Team-bg.jpg);
  background-size: cover;
}
.team-section .container-fluid .row {
  margin-bottom: 50px;
}
.team-section .container-fluid .row .content {
  background: rgba(255, 255, 255, 0.0509803922);
  padding: 52px 34px;
  border-radius: 19px;
  border: 1px solid rgba(255, 255, 255, 0.0705882353);
}
@media (max-width: 767px) {
  .team-section .container-fluid .row .content {
    margin-bottom: 20px;
  }
}
.team-section .container-fluid .row .content .team-image {
  width: 170px;
  margin: 0 auto;
  border: 1px solid rgba(255, 255, 255, 0.1215686275);
  border-radius: 100px;
  padding: 7px;
  margin-bottom: 18px;
}
.team-section .container-fluid .row .content .team-image img {
  border-radius: 100px;
}
.team-section .container-fluid .row .content .text {
  text-align: center;
  color: #fff;
}
.team-section .container-fluid .row .content .social-media {
  text-align: center;
  color: white;
  font-size: 18px;
}
.team-section .container-fluid .row .content .social-media i {
  background: rgba(255, 255, 255, 0.0901960784);
  border-radius: 81px;
  height: 40px;
  width: 40px;
  padding-top: 11px;
  margin: 0 3px;
}
.team-section .container-fluid .row .content .social-media i:hover {
  background-image: linear-gradient(130deg, #262261, #623c97);
}

.faq-section .container-fluid .row {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .faq-section .container-fluid .row {
    width: 100%;
  }
}
.faq-section .container-fluid .row .accordion .accordion-item {
  background: transparent;
}
.faq-section .container-fluid .row .accordion .accordion-item .accordion-header .accordion-button {
  background: #141a2f;
  color: #fff;
  font-size: 21px;
  border-radius: 7px !important;
  padding: 25px 31px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1294117647);
}
.faq-section .container-fluid .row .accordion .accordion-item .accordion-header .accordion-button::after {
  background-image: url(../img/down-arrow.png);
}
.faq-section .container-fluid .row .accordion .accordion-item .accordion-header .accordion-button:focus {
  box-shadow: none;
  border-color: transparent;
}

.whitepaper-section {
  background: linear-gradient(0deg, rgb(7, 14, 36), rgba(7, 14, 36, 0.8)), url(../img/collection-cta.png);
}
.whitepaper-section .container-fluid .heading .button {
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .blog-section .container-fluid .row {
    width: 100%;
  }
}
.blog-section .container-fluid .row .post-grid {
  /*### All-Posts ###*/
}
@media (max-width: 767px) {
  .blog-section .container-fluid .row .post-grid {
    margin-bottom: 40px;
  }
}
.blog-section .container-fluid .row .post-grid .content {
  padding: 34px 42px;
}
.blog-section .container-fluid .row .post-grid .content .publish-date {
  font-size: 14px;
  margin-bottom: 14px;
}
.blog-section .container-fluid .row .post-grid .content h3 {
  font-weight: 700;
  margin-bottom: 14px;
  color: #fff;
}
.blog-section .container-fluid .row .post-grid .content p {
  font-size: 16px;
  margin-bottom: 26px;
}
.blog-section .container-fluid .row .post-grid .content a {
  color: #5f37f6;
  border-bottom: 1px solid;
  font-size: 18px;
  font-weight: 700;
  transition: all 0.3s;
  color: #9ba0b8;
}
.blog-section .container-fluid .row .post-grid .content a:hover {
  opacity: 0.8;
}

/*### Contact ###*/
.contact .container-fluid {
  /*### Row ###*/
}
.contact .container-fluid .row {
  /*### Contact-form ###*/
}
.contact .container-fluid .row .contact-form {
  width: 65%;
  margin: 0 auto;
}
@media (max-width: 1199px) {
  .contact .container-fluid .row .contact-form {
    width: 100% !important;
  }
}
.contact .container-fluid .row .contact-form .container {
  padding: 16px;
  /* Full-width input fields */
}
.contact .container-fluid .row .contact-form .container input[type=text],
.contact .container-fluid .row .contact-form .container input[type=password],
.contact .container-fluid .row .contact-form .container input[type=tel],
.contact .container-fluid .row .contact-form .container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2117647059);
  color: rgb(212, 212, 212);
}
.contact .container-fluid .row .contact-form .container input[type=text]:focus,
.contact .container-fluid .row .contact-form .container input[type=password]:focus,
.contact .container-fluid .row .contact-form .container input[type=tel]:focus,
.contact .container-fluid .row .contact-form .container textarea {
  background-color: #ddd;
  outline: none;
  color: rgb(212, 212, 212);
}
.contact .container-fluid .row .contact-form .container .titles {
  text-align: center;
}
.contact .container-fluid .row .contact-form .container .titles p {
  margin-bottom: 0;
}
.contact .container-fluid .row .contact-form .container .button {
  margin: 0 auto;
}
.contact .container-fluid .row .contact-form .container .button .btn {
  margin: 0 auto !important;
  color: #fff;
}

/*### Contact-End ###*/
.page-header {
  padding-top: 12%;
  padding-bottom: 0;
}

.blog-page {
  background: #070e25;
}
.blog-page .container-fluid .post-row {
  width: 85%;
  margin: 0 auto;
  background: #0b142f;
  padding: 65px;
  border-radius: 20px;
}
@media (max-width: 991px) {
  .blog-page .container-fluid .post-row {
    padding: 35px;
    width: 100%;
  }
}
.blog-page .container-fluid .post-row .post-content .image {
  margin-bottom: 25px;
}
.blog-page .container-fluid .post-row .post-content .image img {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.1);
}
.blog-page .container-fluid .post-row .post-content .body {
  padding: 19px 29px;
}
@media (max-width: 991px) {
  .blog-page .container-fluid .post-row .post-content .body {
    padding: 19px 0px;
  }
}
.blog-page .container-fluid .post-row .post-content .body p {
  font-size: 22px;
  margin-bottom: 10px;
}

footer {
  background: linear-gradient(0deg, rgba(7, 14, 36, 0.92), rgba(7, 14, 36, 0.97)), url(../img/Footer-img.jpg);
  background-size: cover;
  padding-top: 4%;
}
footer .container-fluid .main-row {
  margin-bottom: 40px;
}
footer .container-fluid .bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.1490196078);
  padding-top: 22px;
  margin-top: 50px;
  margin-bottom: 0 !important;
}
@media (max-width: 575px) {
  footer .container-fluid .bottom {
    text-align: center;
  }
}
footer .container-fluid .bottom p {
  font-size: 16px;
  text-align: center;
}
@media (max-width: 575px) {
  footer .container-fluid .bottom p {
    margin-bottom: 12px;
  }
}
footer .container-fluid .row {
  margin-bottom: 40px;
}
footer .container-fluid .row .footer-logo {
  width: fit-content;
  margin: 0 auto;
}
footer .container-fluid .row .footer-logo img {
  width: 270px;
}
@media (max-width: 991px) {
  footer .container-fluid .row .address-column {
    width: 50%;
  }
}
@media (max-width: 767px) {
  footer .container-fluid .row .address-column {
    width: 100%;
  }
}
footer .container-fluid .row .content .top-header {
  text-align: center;
}
footer .container-fluid .row .content .top-header h4 {
  margin: 0 auto;
}
footer .container-fluid .row .content .footer-header {
  margin-bottom: 20px;
}
footer .container-fluid .row .content .footer-header h4 {
  font-size: 35px;
  color: #fff;
  border-bottom: 1px solid;
  padding-bottom: 19px;
  width: fit-content;
  margin-bottom: 20px;
}
@media (max-width: 575px) {
  footer .container-fluid .row .content .footer-header h4 {
    font-size: 28px;
  }
}
@media (max-width: 575px) {
  footer .container-fluid .row .content .body-content .button {
    margin-bottom: 40px;
  }
}
footer .container-fluid .row .content .body-content .address {
  border: 1px solid rgba(255, 255, 255, 0.1803921569);
  border-radius: 12px;
  padding: 28px 37px;
  margin-bottom: 12px;
  backdrop-filter: blur(30px);
}
@media (max-width: 1399px) {
  footer .container-fluid .row .content .body-content .address {
    padding: 38px 18px;
  }
}
footer .container-fluid .row .content .body-content .address p {
  margin-bottom: 10px;
}
footer .container-fluid .row .content .body-content .address .number {
  font-size: 16px;
  margin-bottom: 6px;
}
@media (max-width: 907px) {
  footer .container-fluid .row .content .body-content .address .number {
    font-size: 13px;
  }
}
footer .container-fluid .row .content .body-content .address button {
  background: rgba(255, 255, 255, 0.0901960784);
  color: #fff;
  padding: 7px 17px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.0509803922);
  border-radius: 7px;
  transition: all 0.3s;
}
footer .container-fluid .row .content .body-content .address button:hover {
  opacity: 0.6;
}
footer .container-fluid .row .content .body-content .links {
  display: flex;
}
@media (max-width: 677px) {
  footer .container-fluid .row .content .body-content .links {
    flex-direction: column !important;
  }
}
footer .container-fluid .row .content .body-content .links li {
  margin-right: 30px;
  font-size: 19px;
  color: #9ba0b8;
}
footer .container-fluid .row .content .body-content .links li a {
  transition: all 0.3s;
}
footer .container-fluid .row .content .body-content .links li a:hover {
  color: #fff;
}
footer .container-fluid .row .content .body-content .contact,
footer .container-fluid .row .content .body-content .social-links {
  display: flex;
  margin-bottom: 20px;
}
footer .container-fluid .row .content .body-content .contact li,
footer .container-fluid .row .content .body-content .social-links li {
  font-size: 19px;
  color: #9ba0b8;
  margin-right: 15px;
}
footer .container-fluid .row .content .body-content .contact li a,
footer .container-fluid .row .content .body-content .social-links li a {
  transition: all 0.3s;
}
footer .container-fluid .row .content .body-content .contact li a:hover,
footer .container-fluid .row .content .body-content .social-links li a:hover {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
