.banner-section {
  background: linear-gradient(0deg, rgb(7 14 36), rgb(7 14 36 / 82%)),
    url(../img/Banner-Img.jpg);
  padding-top: 200px;
  padding-bottom: 30px;
  background-size: cover;

  .container-fluid {
    .value-row {
      margin-top: 50px;
      .content {
        width: 100% !important;
      }
    }
    .row {
      .content {
        text-align: center;
        margin: 0 auto;
        color: #fff;
        width: 900px;
        .image-column {
          img {
            width: auto;
            margin-bottom: 20px;
          }
        }
        .disclaimer {
          p {
            margin-top: 20px;
            font-size: 15px;
          }
        }
        .button {
          margin: 0 auto;
        }
        .input-group {
          width: 800px;
          margin: 0 auto;
          @media (max-width: 649px) {
            flex-direction: column;
            input {
              width: 100%;
              border-radius: 50px !important;
              margin-bottom: 15px;
            }
            .button {
              border-radius: 50px !important;
              margin: 0 auto !important;
            }
          }
          @media (max-width: 861px) {
            width: 100%;
          }
          @media (max-width: 575px) {
            width: 100%;
          }
          input {
            background: transparent;
            border-radius: 52px;
            border-radius: 52px 0px 0px 52px;
            padding: 10px 0px 10px 27px;
            border-color: $gray;
            color: $gray;
            &:focus {
              border-color: #fff;
            }
          }
          .button {
            @media (max-width: 433px) {
              padding: 10px 14px !important;
            }
          }
          button {
            background: transparent;
            border: none;
            font-size: 20px;
            color: #fff;
          }
        }
      }
    }
  }
}

main {
  margin-top: 10px !important;
  #carousel {
    position: relative;
    height: 450px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;

    div {
      position: absolute;
      transition: transform 1s, left 1s, opacity 1s, z-index 0s;
      opacity: 1;
      padding: 20px;
      border-radius: 20px;
      background: #ffffff0d;
      border: 1px solid #ffffff5e;

      img {
        width: 400px;
        transition: width 1s;
      }

      &.hideLeft {
        left: 0%;
        opacity: 0;
        transform: translateY(50%) translateX(-50%);

        img {
          width: 200px;
        }
      }

      &.hideRight {
        left: 100%;
        opacity: 0;
        transform: translateY(50%) translateX(-50%);

        img {
          width: 200px;
        }
      }

      &.prev {
        z-index: 5;
        left: 30%;
        transform: translateY(50px) translateX(-50%);
        opacity: 0.6;

        img {
          width: 300px;
        }
      }

      &.prevLeftSecond {
        z-index: 4;
        left: 15%;
        transform: translateY(50%) translateX(-50%);
        opacity: 0.3;

        img {
          width: 200px;
        }
      }

      &.selected {
        z-index: 10;
        left: 50%;
        transform: translateY(0px) translateX(-50%);
      }

      &.next {
        z-index: 5;
        left: 70%;
        transform: translateY(50px) translateX(-50%);
        opacity: 0.6;

        img {
          width: 300px;
        }
      }

      &.nextRightSecond {
        z-index: 4;
        left: 85%;
        transform: translateY(50%) translateX(-50%);
        opacity: 0.3;

        img {
          width: 200px;
        }
      }
    }
  }

  .buttons {
    width: fit-content;
    margin: 0 auto;
    margin-top: 85px;
    #prev,
    #next {
      background: transparent;
      border: none;
      color: $gray;
      font-size: 28px;
      transition: all 0.3s;
      &:hover {
        color: #fff;
      }
    }
  }
  img {
    border-radius: 20px;
  }
}

.about-section {
  .container-fluid {
    .row {
      .col-md-6 {
        .content {
          margin-top: 30px;
        }
        .image {
          width: 75%;
          margin: 0 auto;
        }
      }
    }
  }
}

.features-section {
  background: linear-gradient(0deg, rgb(7 14 36), rgb(7 14 36 / 82%)),
    url(../img/Features-bg.jpg);
  background-size: cover;
  .container-fluid {
    .bottom-row {
      justify-content: center;
    }
    .row {
      margin-bottom: 50px;
      .col-md-3 {
        @media (max-width: 991px) {
          width: 50%;
        }
        @media (max-width: 575px) {
          width: 100%;
        }
      }
      .active {
        background: rgba(255, 255, 255, 0.0509803922);
        border: 1px solid rgba(255, 255, 255, 0.368627451) !important;
        &:hover {
          border: 1px solid transparent !important;
          background: transparent !important;
        }
      }
      .content {
        padding: 42px;
        border-radius: 20px;
        border: 1px solid transparent;
        transition: all 0.3s;
        &:hover {
          background: rgba(255, 255, 255, 0.0509803922);
          border: 1px solid rgba(255, 255, 255, 0.368627451);
        }
        .image {
          width: 100px;
          background: linear-gradient(45deg, black, transparent);
          background-image: linear-gradient(130deg, #d15ffb, #5f37f6);
          border: none;
          margin-bottom: 20px;
        }
        .text {
          color: #fff;
        }
      }
    }
  }
}

.roadmap-section {
  .container-fluid {
    .container {
      .timeline {
        position: relative;
        padding: 5rem;
        margin: 0 auto 1rem auto;
        overflow: hidden;

        &:after {
          content: "";
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -2px;
          border-right: 2px dashed $primary;
          opacity: 0.9;
          box-shadow: 0px 0px 40px 1px $primary;
          height: 100%;
          display: block;
        }
        .timeline-row {
          padding-left: 50%;
          position: relative;
          margin-bottom: 30px;

          .timeline-time {
            position: absolute;
            right: 50%;
            top: 15px;
            text-align: right;
            margin-right: 20px;
            color: #bcd0f7;
            font-size: 1.5rem;

            small {
              display: block;
              font-size: 0.8rem;
            }
          }

          .timeline-content {
            position: relative;
            padding: 20px 30px;
            background: #1a233a;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;

            &:after {
              content: "";
              position: absolute;
              top: 20px;
              height: 16px;
              width: 16px;
              background: #1a233a;
            }

            &:before {
              content: "";
              position: absolute;
              top: 20px;
              right: -49px;
              width: 20px;
              height: 20px;
              -webkit-border-radius: 100px;
              -moz-border-radius: 100px;
              border-radius: 100px;
              z-index: 10;
              // background: #272e48;
              background-image: linear-gradient(130deg, #d15ffb, #5f37f6);
              // border: 2px dashed #4b546f;
            }

            h4 {
              margin: 0 0 20px 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              line-height: 150%;
              color: #fff;
            }

            p {
              margin-bottom: 30px;
              line-height: 150%;
            }

            i {
              font-size: 1.2rem;
              line-height: 100%;
              padding: 15px;
              -webkit-border-radius: 100px;
              -moz-border-radius: 100px;
              border-radius: 100px;
              background: #272e48;
              margin-bottom: 10px;
              display: inline-block;
            }
          }

          &:nth-child(even) .timeline-content {
            margin-left: 40px;
            text-align: left;

            &:after {
              left: -8px;
              right: initial;
              border-bottom: 0;
              border-left: 0;
              transform: rotate(-135deg);
            }

            &:before {
              left: -52px;
              right: initial;
            }
          }

          &:nth-child(odd) {
            padding-left: 0;
            padding-right: 50%;

            .timeline-time {
              right: auto;
              left: 50%;
              text-align: left;
              margin-right: 0;
              margin-left: 20px;
            }

            .timeline-content {
              margin-right: 40px;

              &:after {
                right: -8px;
                border-left: 0;
                border-bottom: 0;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
      @media (max-width: 992px) {
        .timeline {
          padding: 15px;

          &:after {
            border: 0;
          }

          .timeline-row {
            &:nth-child(odd) {
              padding: 0;

              .timeline-time {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 0 10px 0;
              }

              .timeline-content {
                margin: 0;

                &:before,
                &:after {
                  display: none;
                }
              }
            }

            &:nth-child(even) {
              padding: 0;

              .timeline-time {
                position: relative;
                top: 0;
                left: 0;
                margin: 0 0 10px 0;
                text-align: left;
              }

              .timeline-content {
                margin: 0;

                &:before,
                &:after {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

.team-section {
  background: linear-gradient(0deg, rgb(7 14 36 / 97%), rgb(7 14 36 / 93%)),
    url(../img/Team-bg.jpg);
  background-size: cover;
  .container-fluid {
    .row {
      margin-bottom: 50px;
      .content {
        background: rgba(255, 255, 255, 0.0509803922);
        padding: 52px 34px;
        border-radius: 19px;
        border: 1px solid #ffffff12;
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
        .team-image {
          width: 170px;
          margin: 0 auto;
          border: 1px solid #ffffff1f;
          border-radius: 100px;
          padding: 7px;
          margin-bottom: 18px;
          img {
            border-radius: 100px;
          }
        }
        .text {
          text-align: center;
          color: #fff;
        }
        .social-media {
          text-align: center;
          color: white;
          font-size: 18px;
          i {
            background: #ffffff17;
            border-radius: 81px;
            height: 40px;
            width: 40px;
            padding-top: 11px;
            margin: 0 3px;
            &:hover {
              background-image: linear-gradient(130deg, #d15ffb, #5f37f6);
            }
          }
        }
      }
    }
  }
}

.faq-section {
  .container-fluid {
    .row {
      width: 70%;
      margin: 0 auto;
      @media (max-width: 767px) {
        width: 100%;
      }
      .accordion {
        .accordion-item {
          background: transparent;
          .accordion-header {
            .accordion-button {
              background: #141a2f;
              color: #fff;
              font-size: 21px;
              border-radius: 7px !important;
              padding: 25px 31px;
              border-bottom: 1px solid #ffffff21;
              &::after {
                background-image: url(../img/down-arrow.png);
              }
              &:focus {
                box-shadow: none;
                border-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.whitepaper-section {
  background: linear-gradient(0deg, rgb(7 14 36), rgb(7 14 36 / 80%)),
    url(../img/collection-cta.png);

  .container-fluid {
    .heading {
      .button {
        margin: 0 auto;
      }
    }
  }
}

.blog-section {
  .container-fluid {
    .row {
      @media (max-width: 1200px) {
        width: 100%;
      }
      .post-grid {
        @media (max-width: 767px) {
          margin-bottom: 40px;
        }
        /*### All-Posts ###*/
        .content {
          padding: 34px 42px;
          .publish-date {
            font-size: 14px;
            margin-bottom: 14px;
          }
          h3 {
            font-weight: 700;
            margin-bottom: 14px;
            color: #fff;
          }
          p {
            font-size: 16px;
            margin-bottom: 26px;
          }
          a {
            color: $primary;
            border-bottom: 1px solid;
            font-size: 18px;
            font-weight: 700;
            transition: all 0.3s;
            color: $gray;
            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

/*### Contact ###*/
.contact {
  .container-fluid {
    /*### Row ###*/
    .row {
      /*### Contact-form ###*/
      .contact-form {
        width: 65%;
        margin: 0 auto;
        @media (max-width: 1199px) {
          width: 100% !important;
        }
        .container {
          padding: 16px;
          /* Full-width input fields */
          input[type="text"],
          input[type="password"],
          input[type="tel"],
          textarea {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: transparent !important;
            border-bottom: 1px solid #ffffff36;
            color: rgb(212, 212, 212);
          }

          input[type="text"]:focus,
          input[type="password"]:focus,
          input[type="tel"]:focus,
          textarea {
            background-color: #ddd;
            outline: none;
            color: rgb(212, 212, 212);
          }

          .titles {
            text-align: center;
            p {
              margin-bottom: 0;
            }
          }
          .button {
            margin: 0 auto;
            .btn {
              margin: 0 auto !important;
              color: #fff;
            }
          }
        }
      }
    }
  }
}

/*### Contact-End ###*/
